@-moz-document domain("news.ycombinator.com") {
html {
    background-color: black;
}

code {
    font-family: "IBM Plex Mono";
    color: green;
}

table {
    background-color: #1d0826;
    color: #FFA500;
}

textarea {
    color: #f24b99;
    background-color: black;
}

input {
    background-color: purple;
    color: white;
}

a:link {
    color: purple;
}

.hnmore a:link,
a:visited {
    color: #f24b99;
}

.comhead a:link {
    color: #f24b99;
}

.commtext {
    font-family: "IBM Plex Serif";
    color: #f29d35;
}

.score {
    color: #f29d35;
}
}